<h3>This is Menu Component</h3>

<!--<table border="5">
    <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
    </thead>
    <tbody>
        
        <tr *ngFor="let menuItem of menuItems">
            <td>{{menuItem.name}}</td>
            <td>{{menuItem.description}}</td>
            <td>{{menuItem.price}}</td>
            <td><button class="btn btn-success">Add</button></td>
        </tr>

    </tbody>

</table>-->
<!--<table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
            <div *ngFor="let menuItem of menuItems">
                <menu-item [menuItemValue] = "menuItem">
                    <tr>
                        <td>{{menuItemValue.name}}</td>
                        <td>{{menuItemValue.description}}</td>
                        <td>{{menuItemValue.price}}</td>
                        <td><button class="btn btn-success">Add</button></td>
                    </tr>
                </menu-item>
            </div>
        </tbody>
      </table>-->



<!--<button [attr.aria-label]="actionName">{{actionName}} with Aria</button>-->

<!--<button class="btn btn-primary float-right" >Cart ({{dishAddedToCardCount}})</button>-->
<menu-cart #menuCartTemRef [cartValue] = "dishAddedToCardCount" [totalPrice] = "totalPrice"></menu-cart>
<label>Search Menu: </label>
<input type="text" [(ngModel)] = "menuSearchText">
<br>
<h3>Test</h3>
<br>
<div class="alert alert-success" role="alert">
    <i style="color:green">Total:</i> <i style="color:red">$ {{menuCartTemRef.totalPrice | number : '1.2-2'}}</i>
</div>

<br>
<div class="card">
    <div class="card-header">
        Coupons
    </div>
    <div class="card-body">
            Enter Coupon : <input type="string" #copounValue> &nbsp;&nbsp;&nbsp;&nbsp; 
                           <input type="number"  price-directive placeholder="9.99"  #priceHere
                                    [validationFailedColor] = "'5px solid green'" [validationPassedColor] = "'5px solid red'"
                           > 
                           
            <button class="btn btn-danger" (click)="applyCoupon(copounValue.value)"> Apply ({{invalidCopoun}})</button>
            <div *ngIf="invalidCopoun">
                <br> <div class="alert alert-danger" role="alert">
                        Invalid Coupon!!!!!
                      </div>
            </div>
            <div *ngNotIf="invalidCopoun">
                <br> <div class="alert alert-success" role="alert">
                        Valid Coupon!!!
                        </div>

            </div>
            {{priceHere.value | myCurrencyConvertor : 'IND' : 'us'}}
    </div>
</div>
<!--Item Added to Cart : <menu-cart [cartValue] = "dishAddedToCardCount"></menu-cart>-->

<ul class="list-group" *ngFor="let menuItem of menuItems | filterPipe : menuSearchText : 'name'; let i = index">
{{indx}}
    <li class="list-group-item" style="align-content:flex-end">
            <menu-item #menuItemTempRef [menuItemValue] = "menuItem"  [currentDate] = "currentDate" (onMenuItemAdd) = "onAddingAnItem($event)" (onPriceUpdate)="UpdatePrice($event)">
                No - {{i}}  : 

            </menu-item>
    </li>  
</ul>

<br>
<button class="btn btn-success float-right"  (click) = "showOrHideTheNewMenuItemPanel()">Add New Item</button>
<br>
<hr>
<div *ngIf="showNewMenuItemPanel">
        <br>
<button class="btn btn-danger float-right" (click) = "showOrHideTheNewMenuItemPanel()">Hide</button>
<form>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text"  class="form-control" id="staticEmail" placeholder="Name" #itemName>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" id="desc" placeholder="Description" #itemDesc>>
        </div>
    </div>
    <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
        <input type="number" class="form-control" id="price" price-directive placeholder="9.99" #itemPrice>>
        </div>
    </div>
    <button class="btn btn-success float-right"  (click) = "addnewMenuItem(itemName.value,itemDesc.value,itemPrice.value)">Add</button>
</form>
</div>


<!--<input #box (keyup)="0">
    <p>{{box.value}}</p>-->


    <!--<input #box
      (keyup.enter)="update(box.value)"
      (blur)="update(box.value)">

    <p>{{value}}</p>-->



