h1 {
    color: green;
}

.img-fluid-mine{
    max-width: 50%;
  }

.bookTitle {
    color: green;
    font-family: Calibri;
    font-size: 38px;
}

.bookIsbn {
    color: black;
    font-family: Calibri;
    font-size: 15px;
}

.bookwriter {
    color: rgb(38, 0, 128);
    font-family: Calibri;
    font-size: 18px;
}