<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!--<div *ngFor="let hero of heroes">{{hero}}</div>
  <input #heroInput>
  <button (click) = "submitValue(heroInput)" >Submit</button>
<br>
  Upper : <input [value] = "recentlyAddedHero" readonly>

  <br><br><br>

 <input type="text" [value] = "amount"   (input) = "handleEvent($event)">
  
  Amount : {{amount}} 
  <br><br><br>
  <input type="number" [ngModel] = "ngModelamount"   (ngModelChange) = "UpdateAmount(value)">
  
  Amount : {{ngModelamount}} 
  <br><br><br>

  <input type="number" [(ngModel)] = "bananaAmount">
  
  Amount : {{bananaAmount}} 

  <div class="special">Mental Model</div>
<img src="assets/images/hero.png">
<button disabled>Save</button>-->
<!--<add-banner-comp></add-banner-comp>-->
<!--<menu-root></menu-root>-->
<!--<book-root></book-root>-->
<!--<user-root></user-root>-->
<signup-root></signup-root>

<!--test-parent></test-parent>-->
